.center {
  justify-content: center;
  padding: 10px;
}

.main {
  margin-top: 5rem;
}

i.icon {
  float: right;
  cursor: pointer;
  font-size: 18px;
  color: red;
}

.item {
  padding: 15px 0px !important;
}

.right {
  float: right;
  transform: translateY(-25%);
}

.center-div {
  text-align: center;
}

.ui.search .input {
  width: 100%;
}
